<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

<div class="wrapper">
  <div id="app">
    <h1>{{title}}</h1>
    <form @submit.prevent="onSubmit">
      <input type="text" v-model="input.value" :placeholder="input.placeholder" required>
      <button type="submit">Add you note</button>
    </form>
    <ul class="notes">
      <li class="note"
          v-for="(note, idx) in notes"
          :key="idx">
        <button
                @click="remove(note)"
                class="note__remove"
                type="button">&#10005;
        </button>
        <div v-if="!note.isEdited"
             class="note__wrapper">
          <span class="note__text">
            {{note.name}}
          </span>

          <!-- Так же не смог разобраться как при клике на кнопку редактировать сразу поставить фокус в поле ввода. Пробовал сделать с помощью ref на инпуте, но всегда ошибка( -->
          <button @click="getEdited(note)"
                  class="note__edit"
                  type="button">
            <svg fill="#000000" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 306.637 306.637">
              <path d="M12.809,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896
			l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z"/>
              <path d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095
			L265.13,75.602L231.035,41.507z"/>
            </svg>
          </button>
        </div>
        <div v-else class="note__edited">
          <!-- Пробовал тут у инпута написать ref="input" что бы фокус получать, но не получается, всегда ошибка в консоли -->
          <input v-model="editedText"
                 @keydown.enter="acceptChanges(note)"
                 type="text"
                 class="note__input"
                 ref="input"
          >
          <!-- Тут попробовал два варианта, один через v-model, а другой получал value из e.target у инпута, но второй вариант не подошел из за того, что тогда при нажатии на кнопку не применяется редактирование -->

          <!-- <input :value="note.name"-->
          <!-- @keydown.enter="acceptChanges(note, $event)"-->
          <!-- type="text"-->
          <!-- class="note__input"-->
          <!-- > -->
          <button @click="acceptChanges(note)" class="note__accept">&#10003;</button>

          <!-- Такой способ с e.target не работает -->
          <!-- <button @click="acceptChanges(note, $event)" class="note__accept">&#10003;</button> -->
        </div>
      </li>
    </ul>
  </div>
</div>

<script src="./app.js"></script>
</body>
</html>
